.caption {
    color: #f7d325;
    text-shadow: 0px 2px 2px #1b1b1b;
}
.cover h2 {
    background-color: rgba(0, 0, 0, 0.5);;
    color:#FFF;
    padding: 10px 40px 10px 50px;
    position: absolute;
    text-align: right;
    top: 120px;
    left: 0;
    width: 934px;
    font-size:50px;
}
.cover p {
    margin:10px 0 0;
    text-align:center;
    color:#FFF;
    font-size:20px;
}
.cover p.date {
    margin:10px 0 0;
    text-align:center;
    color:#FFF;
    font-style:italic;
    font-size:15px;
}
.cover p a {
    color:#FFF;
}

img {
    max-width: 100%;
}

.full .progress {
    background-color: #fff;
    height: 30px;
}
.full .progress div {
    border: 30px solid transparent;
    border-bottom-color:#F7D325;
    left: -60px;
    top: -30px;
}

.slide pre {
    margin: 0;
    font-family: 'PT Mono', 'Monaco';
    font-size: 16px;
    line-height: 25px;
}

.slide pre code {
    line-height: normal;
}

.slide h2 {
    margin-bottom: 20px;
}

.slide table {
    font-size: 16px;
}
.slide table tr:not(:first-child) {
    height: 75px;
}
.slide table th {
    padding-left: 10px;
    width: 80px;
}
.slide table td {
    line-height: 20px;
}

.slide table th, .slide table td {
    vertical-align: middle;
}

.slide:after {
    position: absolute;
    bottom: 1px;
    right: 50px;
    padding: 20px 0 0;
    width: auto;
    height: auto;
    background: none;
    color: #888;
    counter-increment: slide;
    content: counter(slide);
    font-size: 14px;
    top: auto;
    z-index: 10001;
}

.slide ol, .slide ul {
    padding-left: 1em;
    margin-bottom: 30px;
}

.slide li * {
    text-indent: 0;
}

.slide li blockquote {
    padding: 30px 0 30px 100px;
    text-indent: 0;
}

.slide li blockquote p {
    margin-bottom: 0;
}

.slide.tall > div {
    height: 595px;
    padding-top: 45px;
}

.slide .note {
    display: none;
    color:#BBB;
    font-size:18px;
    position: absolute;
    bottom: 0px;
    left:10px;
    line-height: 25px;
}

.slide.cover, .slide.shout{ z-index: 100002 }

.slide>div {
    padding: 80px 80px 30px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.list .slide>div:before, .full .slide>div:before {
    background: url(../pictures/jolicode.svg) left 53% no-repeat;
    bottom: 0;
    color: #888;
    content: 'PHP Tour 2017 - Comment marier Symfony et ReactJS';
    font-size: 14px;
    height: 30px;
    left: 40px;
    line-height: 30px;
    padding-left: 70px;
    position: absolute;
    top: auto;
    width: 100%;
    z-index: 10000;
}

.list .slide.cover>div:before,
.full .slide.cover>div:before,
.list .slide.shout>div:before,
.full .slide.shout>div:before,
.list .slide.cover div.progressbar,
.list .slide.shout div.progressbar {
    display: none;
}

.slide table td, .slide table th[scope="col"] {
    text-align: center;
}

.check {
    height: 24px;
    width: 24px;
}

#crittercism-pricing h2 {
    margin-bottom: 0;
}

#crittercism-pricing table {
    margin-bottom: 10px;
}

#crittercism-pricing th, #crittercism-pricing td {
    font-size: 20px;
    height: 47px;
    vertical-align: middle;
}

#crittercism-pricing th[scope=row] {
    width: 360px;
}

#crittercism-pricing p {
    font-size: .8em;
    text-align: center;
}

#during-dev blockquote {
    margin-left: 80px;
}

#testflight img {
    margin-left: 140px;
    max-width: 500px;
}

#end h2 {
    left: auto;
    top: auto;
    top: 180px;
    right: 100px;

    background-color: #f7d325;
    border-radius: 110px;
    color: #1b1b1b;
    font-size: 25px;
    height: 135px;
    padding: 85px 0 0 0;
    position: absolute;
    text-align: center;
    transform:rotate(-10deg);
    -webkit-transform:rotate(-10deg);
    width: 220px;
}

#coverpage h2 {
    background-color: transparent;
    margin-bottom: 0;
    padding: 10px 0 0;
    position: relative;
    text-align: right;
    top: auto;
    font-size: 50px;
    width: auto;
}
#coverpage .covertitle {
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFF;
    padding: 8px 80px 12px 50px;
    position: absolute;
    text-align: right;
    bottom: 30px;
    left: -30px;
    width: 970px;
    font-size:50px;
    transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
}
#coverpage .covertitle p {
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: 15px;
}
#coverpage .covertitle p .date {
    font-style: italic;
}

@page{margin:0;size:1024px 640px}

.full .progress div{}
.full .progress div[style$='100%;']{padding-left:10px}

/* progressbar for list view */
.list .slide div.progressbar {
    background-color: #fff;
    height: 30px;
    position:absolute;
    right:0;
    bottom:0;
    left:0;
    overflow:hidden;
    padding: 0;
    top: auto;
    width: 100%;
    z-index:1
}
.list .slide div.progressbar div {
    border: 30px solid transparent;
    border-bottom-color: #F7D325;
    left: -60px;
    top: -30px;

    position:absolute;
    width:0;
}

/* vertical align the shouts (better than transform for printing) */
.slide.shout div {
    display: table;
    height: 640px;
    padding: 0 120px;
}

.slide.shout h2 {
    line-height: 150px !important;
    margin: -25% 0 0 0;
    -webkit-transform: none;
    transform: none;
    display: table-cell;
    height: auto;
    position: relative;
    top: auto;
    vertical-align: middle;
}

.slide div .col-2 {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}
.slide div .col-3 {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 32.5%;
}
.slide .place.l { left: 118px; }
.slide .place.r { right: 108px; }

.red { color: rgb(233,39,39); }
.blue { color: rgb(75,134,194);}

section.bigCode pre { font-size: 14px}
section.bigCode div div.col-2 span.center { text-align: center; display: block; }

section#scripts .col-3:nth-child(2){ margin-left: 100px; }
section#scripts .col-3 { width:25%; }
section#scripts .col-3 ul li{ list-style: none; }
section#scripts .col-3 ul li::before{ content: none; }


.slide.shout h4 {
    bottom: 10px;
    position: absolute;
    right: 125px;
}
a {
    background: none;
}
#jolilogo {
    vertical-align: middle;
    width: 130px;
}

img.trollface {
    width: 40px;
    vertical-align: middle;
}

.slide p.no-margin {
    margin: 0;
}